<%- include('./../../layout/header.ejs') %>

    <!-- Main Content of the services page -->
    <div>
        <!-- Your services content goes here -->
        <h1>Services</h1>
        <p>This is the services page content...</p>
    </div>

    <%- include('./../../layout/footer.ejs') %>