<!-- MAIN FOOTER -->
<div>
    <hr class="border-gray-200">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mx-4">
        <div class="flex flex-col mt-10 md:mx-[25%]">
            <h2 class="text-[24px] lg:text-[32px] font-bold">Get In Touch</h2>
            <div class="py-2 text-[20px] lg:text-[22px]">
                <p>Portland, Oregon</p>
                <p>Office 2 - Silom,Bangkok,Thailand</p>
                <p>Phone: <a href="tel:+1 971-295-3811">+1 971-295-3811</a></p>
                <p>Mail: <a href="mailto:info.eventcracker@gmail.com">Info.Eventcracker@Gmail.Com</a></p </div>
            </div>

        </div>
        <div class="flex flex-col mt-10">
            <div class="mb-10">
                <h2 class="text-[24px] lg:text-[32px] font-bold ">Our Locations</h2>
                <div class="py-2 text-[20px] lg:text-[22px]">
                    <p>Portland</p>
                    <p>Northern California</p>
                    <p>Thailand
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<hr>
<div class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-red-400 text-black py-3 px-3">
    <div>
        <p style="font-size: 16px;">Copyright © 2022. Event Cracker. All Rights Reserved.</p>
    </div>
    <div>
        <ul class="flex justify-end items-center space-x-5">
            <li class="menu-item">
                <a title="Home" href="/" class=""><i class=""></i><span class="">Home</span></a>
            </li>
            <li class="menu-item">
                <a title="More About Me" href="/about" class=""><i class=""></i><span class="">About
                        Us</span></a>
            </li>
            <li class="">
                <a title="Services" href="/services/" class="">
                    <i class=""></i>
                    <span class="">Services</span>
                </a>
                <!-- Dropdown menu -->
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="/wedding">Wedding</a>
                    </li>
                    <li class="menu-item">
                        <a href="/corporate">Corporate</a>
                    </li>
                    <li class="menu-item">
                        <a href="/party">Party</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a title="Services" href="/gallery" class="">
                    <i class=""></i>
                    <span class="">Gallary</span>
                </a>
                <!-- Dropdown menu -->
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="/services/wedding">Wedding</a>
                    </li>
                    <li class="menu-item">
                        <a href="/services/corporate">Corporate</a>
                    </li>
                    <li class="menu-item">
                        <a href="/services/parties">Party</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a title="Blog" href="/blogs" class=""><i class=""></i><span class="">Blog</span></a>
            </li>
            <li class="menu-item">
                <a title="Lets Talk" href="/contact" class=""><i class=""></i><span class="">Lets
                        Talk</span></a>
            </li>

        </ul>
    </div>
</div>



</footer>
<!-- END MAIN FOOTER -->
</div>
<!-- Start static group buttons -->
<div class="nasa-static-group-btn"><a href="javascript:void(0);" id="nasa-back-to-top"><i
            class="pe-7s-angle-up"></i></a></div><!-- End static group buttons -->
<!-- Start static content -->

<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all"
    type="text/css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/assets/js/script.js"></script>




</body>

</html>