<!-- MAIN FOOTER -->
<div class="bg-gray-100">
    <hr class="border-gray-300 bg-gray-100 ">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mx-4">
        <div class="flex flex-col mt-10 md:mx-[25%]">
            <h2 class="text-[24px] lg:text-[32px] font-bold mb-3">Get In Touch</h2>
            <div class="py-2 text-[20px] lg:text-[22px]">
                <p class="py-1">Amrit Event Creation</p>
                <p class="py-1">Phone: <a href="tel:+91 8210588703">+91 8210588703</a></p>
                <p class="py-1">Mail: <a href="mailto::info@amriteventcreation.com">:info@amriteventcreation.com</a></p
                    </div>
            </div>

        </div>

        <div class="flex flex-col mt-10 md:mx-[25%]">
            <h2 class="text-[24px] lg:text-[32px] font-bold  mb-3">Our Location</h2>
            <div class="py-2 text-[20px] lg:text-[22px]">
                <p class="py-1">C-127, Harmu Housing Colony</p>
                <p class="py-1">Shajanand Chowk</p>
                <p class="py-1">Ranchi, Jharkhand 834002 </p>

            </div>
        </div>

    </div>
</div>
</div>
</div>
<hr style="" clas>
<div class="grid grid-cols-1 lg:grid-cols-2  text-black  pt-4 px-2 bg-gray-100">
    <div class="text-black">
        <p>Developed By: <a href="https://blazync.com" target="_blank">
                <strong>
                    <b>
                        <span style="font-size: 16px; text-transform: capitalize;"
                            class="hover:text-blue-800 font-semibold text-black">Blazync
                            Technologies</span>
                    </b>
                </strong>
            </a>
        </p>
    </div>
    <div>
        <ul class="flex justify-center lg:justify-end items-center space-x-4">

            <li class="menu-item">
                <a title="About" href="/about" class=""><i class=""></i><span class="font-bold">About
                    </span></a>
            </li>
            <li class="">
                <a title="Services" href="/services/" class="font-bold">
                    <i class=""></i>
                    <span class="">Services</span>
                </a>
                <!-- Dropdown menu -->
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="/wedding">Wedding</a>
                    </li>
                    <li class="menu-item">
                        <a href="/corporate">Corporate</a>
                    </li>
                    <li class="menu-item">
                        <a href="/party">Party</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a title="Galary" href="/gallary" class="font-bold">
                    <i class=""></i>
                    <span class="">Gallary</span>
                </a>
                <!-- Dropdown menu -->
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="/services/wedding">Wedding</a>
                    </li>
                    <li class="menu-item">
                        <a href="/services/corporate">Corporate</a>
                    </li>
                    <li class="menu-item">
                        <a href="/services/parties">Party</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a title="Blog" href="/blog" class=""><i class=""></i><span class="font-bold">Blog</span></a>
            </li>
            <li class="">
                <a title="Lets Talk" href="/contact" class=""><i class=""></i><span class="font-bold">Contact</span></a>
            </li>

        </ul>
    </div>


</div>
<div class="py-3 flex items-center justify-center bg-gray-100 text-black">
    <p class="text-center lg:text-left text-black" style="font-size: 16px;">Copyright © 2024. Amrit Event Creation. All
        Rights
        Reserved.</p>

</div>



</footer>
<!-- END MAIN FOOTER -->
</div>
<!-- Start static group buttons -->
<div class="nasa-static-group-btn"><a href="javascript:void(0);" id="nasa-back-to-top"><i
            class="pe-7s-angle-up"></i></a></div><!-- End static group buttons -->
<!-- Start static content -->

<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all"
    type="text/css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        offset: 120,
        mirror: false,
    });
</script>


</body>

</html>