<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>Wedding &amp; Event Planner - Eventcracker - Event Planner in Oregon, California &amp; Beyond</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel='stylesheet' id='nasa-fonts-css'
        href='https://fonts.googleapis.com/css?family=Aref+Ruqaa%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCrimson+Text%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito+Sans%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=6.1.6#038;subset=latin'
        type='text/css' media='all' />



    <!-- DropDown -->
    <style>
        body {
            overflow-x: hidden !important;
            /* Prevent horizontal scrolling on the entire page */
        }

        /* Style for the dropdown menu */
        .sub-menu {
            display: none;
            /* Hide the dropdown menu by default */
            position: absolute;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 100;
            padding: 10px 0;
            /* Optional: Add padding to submenu */
        }

        /* Show the dropdown menu on hover */
        .menu-item:hover .sub-menu {
            display: block;
        }

        .menu-item:hover a {
            text-decoration: underline;
        }

        .menu-item:hover a :active {
            text-decoration: underline;
        }

        /* Style for dropdown menu items */
        .sub-menu .menu-item {
            padding: 8px 20px;
            /* Optional: Add padding to submenu items */
        }

        /* Optional: Style for dropdown menu links */
        .sub-menu .menu-item a {
            color: #333;
            text-decoration: none;
            display: block;
        }

        /* Optional: Hover effect for dropdown menu items */
        .sub-menu .menu-item:hover {
            background-color: #f0f0f0;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            /* Adjust as needed */
            background-color: white;
            /* Change to desired background color */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            /* Optional: Add shadow for navbar */
        }
    </style>
    <link rel="stylesheet" href="/assets/css/tailwindcss.css">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/font.css">
</head>

<body class="text-base">

    <nav class=" bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 shadow-md">
        <div class=" flex items-center justify-between mx-20 py-4 border-gray-400 hidden lg:flex">
            <div class="flex">
                <div class="flex"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-phone">
                        <path
                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                    </svg>+91 8210588703</i></div>
                <div class="flex ml-2 mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-mail">
                        <rect width="20" height="16" x="2" y="4" rx="2" />
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                    </svg>
                    <p class="ml-2">info@amriteventcreation.com</p>
                </div>
            </div>
            <div class="flex items-center justify-center gap-4">
                <a href="https://www.facebook.com/amriteventcreation/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-facebook">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                    </svg>
                </a>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-linkedin">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                        <rect width="4" height="12" x="2" y="9" />
                        <circle cx="4" cy="4" r="2" />
                    </svg>
                </a>
                <a href="https://www.youtube.com/channel/UCKJnrmvQAbMOYMtOkNF58SA">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-youtube">
                        <path
                            d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17" />
                        <path d="m10 15 5-3-5-3z" />
                    </svg>
                </a>
                <a href="">
                    <svg xmlns="https://www.instagram.com/amrit_events_management/?hl=en" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-instagram">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                        <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
                    </svg>
                </a>
            </div>
        </div>
        <hr class="border">
        <div class="hidden lg:flex flex items-center justify-center"><img src="/img/logo.png" class="w-80 h-30 py-3"
                alt="">
        </div>
        <!-- Desktop Navigation -->
        <div class="  w-full lg:flex justify-center items-center py-2 my-2 bg-[#80deea] hidden">
            <ul class="flex justify-center items-center space-x-5 text-[16px] text-gray-800 font-semibold gap-6">
                <li class="menu-item">
                    <a title="Home" href="/" class=""><i class=""></i><span class="">Home</span></a>
                </li>
                <li class="menu-item">
                    <a title="More About Me" href="/about" class=""><i class=""></i><span class="">About
                            Us</span></a>
                </li>
                <li class="menu-item">
                    <a title="Services" href="/services/" class="">
                        <i class=""></i>
                        <span class="">Services</span>
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="sub-menu z-1000">
                        <% category.forEach(data=> { %>

                            <li class="menu-item">
                                <a href="/services/<%= data.slug %>">
                                    <%= data.title %>
                                </a>
                            </li>
                            <% }) %>

                    </ul>
                </li>

                <li class="menu-item">
                    <a title="Blog" href="/gallary" class=""><i class=""></i><span class="">Gallary</span></a>
                </li>
                <li class="menu-item">
                    <a title="Blog" href="/blog" class=""><i class=""></i><span class="">Blog</span></a>
                </li>
                <li class="menu-item">
                    <a title="Lets Talk" href="/contact" class=""><i class=""></i><span class="">Lets
                            Talk</span></a>
                </li>
                <li class="">
                    <a href="/account">
                        <button title="Pricing" class="px-4 py-2 mt-5 md:mt-0 ml-2 md:ml-0 rounded-lg"><i
                                class=""></i><span class="">Login</span></button>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Desktop Navigation End -->
        <!-- Mobile and Tablet Navigation -->
        <div class=" flex flex-grow lg:hidden items-center justify-between px-10 py-4">
            <div class="inset-0 z-50 ">
                <input type="checkbox" id="drawer-toggle" class="sr-only peer hidden">
                <label for="drawer-toggle"
                    class="w-10 transition-all duration-500 bg-indigo-500 rounded-lg peer-checked:rotate-180 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-menu">
                        <line x1="4" x2="20" y1="12" y2="12" />
                        <line x1="4" x2="20" y1="6" y2="6" />
                        <line x1="4" x2="20" y1="18" y2="18" />
                    </svg>
                </label>
                <div id="drawer-navigation"
                    class="fixed top-0 left-0 z-100 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-64 dark:bg-gray-800  peer-checked:translate-x-0"
                    tabindex="-1" aria-labelledby="drawer-navigation-label">
                    <h5 id="drawer-navigation-label"
                        class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu
                    </h5>
                    <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <!-- Close button for the drawer -->
                        <button id="closeDrawerButton"
                            class="absolute top-0 right-0 p-4 text-white bg-indigo-500 rounded-lg hover:bg-indigo-600 focus:outline-none">
                            <span class="sr-only">Close menu</span>
                            <svg class="w-4 h-4" aria-hidden="true" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </button>
                    <div class="py-4 overflow-y-auto">
                        <ul class="space-y-2 font-medium">
                            <li>
                                <a href="/"
                                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        viewBox="0 0 22 21">
                                        <path
                                            d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                                        <path
                                            d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                                    </svg>
                                    <span class="ms-3">Home</span>
                                </a>
                            </li>
                            <li class="menu-item" id="service-dropdown-open">
                                <button type="button"
                                    class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                                    aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        viewBox="0 0 18 21">
                                        <path
                                            d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                                    </svg>
                                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Services</span>
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg>
                                </button>
                                <ul id="service-dropdown" class="py-2 space-y-2 hidden">
                                    <% category.forEach(data=> { %>

                                        <li class="z-1000 ml-10">
                                            <a href="/services/<%= data.slug %>" style="text-decoration: none;">
                                                <%= data.title %>
                                            </a>
                                        </li>
                                        <% }) %>
                                </ul>
                            </li>

                            <li>
                                <a href="/gallary"
                                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-gallery-horizontal">
                                        <path d="M2 3v18" />
                                        <rect width="12" height="18" x="6" y="3" rx="2" />
                                        <path d="M22 3v18" />
                                    </svg>
                                    <span class="flex-1 ms-3 whitespace-nowrap">Gallary</span>

                                </a>
                            </li>
                            <li>
                                <a href="about"
                                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-store">
                                        <path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7" />
                                        <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8" />
                                        <path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4" />
                                        <path d="M2 7h20" />
                                        <path
                                            d="M22 7v3a2 2 0 0 1-2 2v0a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12v0a2 2 0 0 1-2-2V7" />
                                    </svg>
                                    <span class="flex-1 ms-3 whitespace-nowrap">About</span>
                                </a>
                            </li>
                            <li>
                                <a href="/contact"
                                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-circle-user">
                                        <circle cx="12" cy="12" r="10" />
                                        <circle cx="12" cy="10" r="3" />
                                        <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
                                    </svg>
                                    <span class="flex-1 ms-3 whitespace-nowrap">Contact</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class=""><img src="/img/logo.png" class="w-30 h-10" alt=""></div>
        </div>

        <script>document.addEventListener('DOMContentLoaded', () => {
                const closeButton = document.getElementById('closeDrawerButton');
                const drawerToggle = document.getElementById('drawer-toggle');

                // Event listener for the close button
                closeButton.addEventListener('click', () => {
                    drawerToggle.checked = false; // Uncheck the drawer toggle checkbox
                });
                const serviceButton = document.getElementById('service-dropdown');
                const serviceDropdownOpen = document.getElementById('service-dropdown-open');

                serviceDropdownOpen.addEventListener('click', () => {
                    const isHidden = serviceButton.classList.contains('hidden');

                    if (isHidden) {
                        // Element is currently hidden, so show it
                        serviceButton.classList.remove('hidden');
                    } else {
                        // Element is currently visible, so hide it
                        serviceButton.classList.add('hidden');
                    }

                })

            });
        </script>
    </nav>
    <div id="wrapper" class="fixNav-enabled">

        <!-- Main Content -->
        <!-- Content section starts here -->