<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <link rel="pingback" href="https://eventcracker.com/xmlrpc.php" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link rel="shortcut icon" href="https://eventcracker.com/wp-content/uploads/2021/05/EventCracker-595x595-1.png" />

    <script>
        var search_options = "0";
    </script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <!-- This site is optimized with the Yoast SEO plugin v22.6 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Wedding &amp; Event Planner - Eventcracker - Event Planner in Oregon, California &amp; Beyond</title>
    <meta name="description"
        content="Wedding Planner in Portland and Washington. Expertise in Destination wedding, Indian wedding, micro weddings and all-inclusive wedding planning." />
    <link rel="canonical" href="https://eventcracker.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <link rel='stylesheet' id='elessi-font-awesome-style-css'
        href='https://eventcracker.com/wp-content/themes/elessi-theme/assets/font-awesome-4.7.0/css/font-awesome.min.css?ver=6.1.6'
        type='text/css' media='all' />
    <link rel='stylesheet' id='elessi-font-pe7s-style-css'
        href='https://eventcracker.com/wp-content/themes/elessi-theme/assets/font-pe-icon-7-stroke/css/pe-icon-7-stroke.css?ver=6.1.6'
        type='text/css' media='all' />
    <link rel='stylesheet' id='nasa-fonts-css'
        href='https://fonts.googleapis.com/css?family=Aref+Ruqaa%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCrimson+Text%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito+Sans%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=6.1.6#038;subset=latin'
        type='text/css' media='all' />
    <link rel='stylesheet' id='elessi-style-css'
        href='https://eventcracker.com/wp-content/themes/elessi-theme/style.css?ver=6.1.6' type='text/css'
        media='all' />
    <link rel='stylesheet' id='elessi-child-style-css'
        href='https://eventcracker.com/wp-content/themes/elessi-theme-child/style.css?ver=6.1.6' type='text/css'
        media='all' />
    <link rel='stylesheet' id='elessi-style-dynamic-css'
        href='https://eventcracker.com/wp-content/uploads/nasa-dynamic/dynamic.css?ver=1708948402' type='text/css'
        media='all' />
    <script type='text/javascript' src='https://eventcracker.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.1'
        id='jquery-core-js'></script>
    <script type='text/javascript' src='https://eventcracker.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2'
        id='jquery-migrate-js'></script>

    <meta property="og:title" content="Homepage" />
    <meta property="og:url" content="/" />


    <style type="text/css" data-type="vc_custom-css">
        .margin-cut1 .wpb_wrapper p {
            margin-bottom: 0px;
        }

        .client .client-inner .client-info span {
            color: #f76b6a;
        }
    </style>
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript><noscript>
        <style id="rocket-lazyload-nojs-css">
            .rll-youtube-player,
            [data-lazy-src] {
                display: none !important;
            }
        </style>
    </noscript>
    <!-- DropDown -->
    <style>
        /* Style for the dropdown menu */
        .sub-menu {
            display: none;
            /* Hide the dropdown menu by default */
            position: absolute;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 999;
            padding: 10px 0;
            /* Optional: Add padding to submenu */
        }

        /* Show the dropdown menu on hover */
        .menu-item:hover .sub-menu {
            display: block;
        }

        /* Style for dropdown menu items */
        .sub-menu .menu-item {
            padding: 8px 20px;
            /* Optional: Add padding to submenu items */
        }

        /* Optional: Style for dropdown menu links */
        .sub-menu .menu-item a {
            color: #333;
            text-decoration: none;
            display: block;
        }

        /* Optional: Hover effect for dropdown menu items */
        .sub-menu .menu-item:hover {
            background-color: #f0f0f0;
        }
    </style>



    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body data-rsssl=1
    class="home page-template page-template-page-visual-composer page-template-page-visual-composer-php page page-id-1705 antialiased nasa-disable-toggle-widgets wpb-js-composer js-comp-ver-6.7.0 vc_responsive">
    <div id="wrapper" class="fixNav-enabled">
        <header id="header-content" class="site-header">
            <div class="header-wrapper header-type-2 main-home-fix nasa-header-sticky">
                <div class="nasa-topbar-wrap nasa-topbar-hide">
                    <div id="top-bar" class="top-bar">
                        <!-- Desktop | Responsive Top-bar -->
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="left-text left rtl-right">
                                    <div class="inner-block text-[18px]">
                                        <a href="mailto:info.eventcracker@gmail.com">info.eventcracker@gmail.com</a> |
                                        <a href="tel:+971-295-3811">+1 971-295-3811 </a>
                                    </div>
                                </div>
                                <div class="right-text nasa-hide-for-mobile right rtl-left">
                                    <div class="topbar-menu-container flex flex-row gap-5">
                                        <img class="w-8 h-8"
                                            src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png">
                                        <img class="w-8 h-8"
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhqhCE1ZItBk2eXdpda7hUVibZjDbg_iVhUzQ1_xvmjQ&s">

                                        <img class="w-8 h-8"
                                            src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nasa-hide-for-mobile">
                        <a class="nasa-icon-toggle" href="javascript:void(0);">
                            <i class="nasa-topbar-up pe-7s-angle-up"></i>
                            <i class="nasa-topbar-down pe-7s-angle-down"></i>
                        </a>
                    </div>
                </div>
                <div class="sticky-wrapper">
                    <div id="masthead" class="site-header">
                        <div class="row">
                            <div class="large-12 columns header-container">
                                <!-- Mobile Menu -->
                                <div class="mobile-menu">
                                    <table>
                                        <tr>
                                            <td class="nasa-td-20 mini-icon-mobile">
                                                <svg class="nasa-icon nasa-mobile-menu_toggle mobile_toggle nasa-mobile-menu-icon pe-7s-menu"
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-menu">
                                                    <line x1="4" x2="20" y1="12" y2="12" />
                                                    <line x1="4" x2="20" y1="6" y2="6" />
                                                    <line x1="4" x2="20" y1="18" y2="18" />
                                                </svg>

                                            </td>

                                            <td class="logo-wrapper">
                                                <a class="logo nasa-logo-retina" href="/"
                                                    title="Eventcracker &#8211; Event Planner in Oregon, California &amp; Beyond - Event Coordinator, Day of Coordination, Corporate Assistant, Proposal Planner, Destination Wedding Planner"
                                                    rel="Home"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        class="header_logo"
                                                        alt="Eventcracker &#8211; Event Planner in Oregon, California &amp; Beyond"
                                                        data-src-retina="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg"
                                                        data-lazy-src="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg" /><noscript><img
                                                            src="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg"
                                                            class="header_logo"
                                                            alt="Eventcracker &#8211; Event Planner in Oregon, California &amp; Beyond"
                                                            data-src-retina="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg" /></noscript></a>
                                            </td>

                                            <td class="nasa-td-mobile-icons">
                                                <div class="nasa-mobile-icons-wrap"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row nasa-hide-for-mobile">
                            <div class="large-12 columns nasa-wrap-event-search">
                                <div class="row nasa-elements-wrap">
                                    <!-- Group icon header -->
                                    <div class="large-4 columns nasa-min-height">

                                    </div>

                                    <!-- Logo -->
                                    <div class="large-4 columns text-center">
                                        <div class="logo-wrapper nasa-fullwidth">
                                            <h1 class="nasa-logo-img"><a class="logo nasa-logo-retina"
                                                    href="/"
                                                    title="Eventcracker &#8211; Event Planner in Oregon, California &amp; Beyond - Event Coordinator, Day of Coordination, Corporate Assistant, Proposal Planner, Destination Wedding Planner"
                                                    rel="Home"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        class="header_logo"
                                                        alt="Eventcracker &#8211; Event Planner in Oregon, California &amp; Beyond"
                                                        data-src-retina="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg"
                                                        data-lazy-src="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg" /><noscript><img
                                                            src="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg"
                                                            class="header_logo"
                                                            alt="Eventcracker &#8211; Event Planner in Oregon, California &amp; Beyond"
                                                            data-src-retina="https://eventcracker.com/wp-content/uploads/2021/05/eventlogo-e1593255325819-595x188-1.jpg" /></noscript></a>
                                            </h1>
                                        </div>
                                    </div>

                                    <!-- Group icon header -->
                                    <div class="large-4 columns">
                                        <div class="nasa-header-icons-wrap">
                                            <ul class="header-icons">

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div></div>
                            </div>
                        </div>

                        <!-- Main menu -->
                        <div
                            class="nasa-elements-wrap nasa-elements-wrap-main-menu nasa-hide-for-mobile nasa-bg-dark text-center">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="wide-nav nasa-wrap-width-main-menu nasa-bg-wrap nasa-nav-style-1">
                                        <div class="nasa-menus-wrapper-reponsive" data-padding_y="20"
                                            data-padding_x="15">
                                            <div class="nav-wrapper inline-block main-menu-warpper">
                                                <ul id="site-navigation" class="header-nav nasa-to-menu-mobile">
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1705 current_page_item default-menu root-item nasa_even">
                                                        <a title="Home" href="/"
                                                            class="nasa-title-menu"><i
                                                                class="pe-7s-angle-down nasa-open-child"></i><span
                                                                class="nasa-text-menu">Home</span></a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_odd">
                                                        <a title="More About Me"
                                                            href="/aboutus"
                                                            class="nasa-title-menu"><i
                                                                class="pe-7s-angle-down nasa-open-child"></i><span
                                                                class="nasa-text-menu">More About Me</span></a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_odd">
                                                        <a title="More About Me"
                                                            href="/services/Coorporate"
                                                            class="nasa-title-menu"><i
                                                                class="pe-7s-angle-down nasa-open-child"></i><span
                                                                class="nasa-text-menu">Coorporate Events</span></a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_even">
                                                        <a title="Services" href="/services/"
                                                            class="nasa-title-menu">
                                                            <i class="pe-7s-angle-down nasa-open-child"></i>
                                                            <span class="nasa-text-menu">Services</span>
                                                        </a>
                                                        <!-- Dropdown menu -->
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a
                                                                    href="/services/Weedings">Weedings</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_even">
                                                        <a title="Service" href=""
                                                            class="nasa-title-menu">
                                                            <i class="pe-7s-angle-down nasa-open-child"></i>
                                                            <span class="nasa-text-menu">Gallary</span>
                                                        </a>
                                                        <!-- Dropdown menu -->
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="/gallery/Weedings">Weedings</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_odd">
                                                        <a title="Blog" href="/blog"
                                                            class="nasa-title-menu"><i
                                                                class="pe-7s-angle-down nasa-open-child"></i><span
                                                                class="nasa-text-menu">Blog</span></a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_even">
                                                        <a title="Lets Talk" href="/lets-talk/"
                                                            class="nasa-title-menu"><i
                                                                class="pe-7s-angle-down nasa-open-child"></i><span
                                                                class="nasa-text-menu">Lets Talk</span></a>
                                                    </li>
                                                </ul>
                                            </div><!-- nav-wrapper -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container mx-auto py-8">
            <!-- Content section starts here -->