<section id="testimonials" class="">
    <div class="container px-4">
        <div class="flex flex-wrap">
            <div class="w-full mx-4">
                <div class="section_title text-center pb-6">
                    <h5 class="sub_title">Testimonials</h5>
                    <h4 class="main_title">What our clients Say?</h4>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <div class="ud-single-testimonial
                        p-8
                        bg-white
                        mb-12
                        shadow-testimonial
                        wow
                        fadeInUp" data-wow-delay=".1s
                      " style="visibility: visible; animation-delay: 0.1s;">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            “Very efficient personnel and best event company in Ranchi.innovative ideas and
                            dedicated services make them different
                            from others.
                            Best wishes and good luck..!!
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                            ud-testimonial-image
                            w-[50px]
                            h-[50px]
                            rounded-full
                            
                            mr-5
                          ">
                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjXXEQznlY4r_KYUFgyG0TWio7FJqbabp5UsBvpRh62ituCDu_YsVg=w45-h45-p-rp-mo-br100"
                                alt="author">
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Rajeev Kumar Gupta</h4>
                            <p class="text-[#969696] text-xs">Google Reviews</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <div class="ud-single-testimonial
                        p-8
                        bg-white
                        mb-12
                        shadow-testimonial
                        wow
                        fadeInUp" data-wow-delay=".2s
                      " style="visibility: visible; animation-delay: 0.2s;">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            “Exilent service and Grat Management.
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                            ud-testimonial-image
                            w-[50px]
                            h-[50px]
                            rounded-full
                            
                            mr-5
                          ">
                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjXbeK51cMHRPZj_9Ep2HAuG1Tu1LmloDb6KmiU5UApIJonozzNK=w45-h45-p-rp-mo-br100"
                                alt="author">
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Mukesh Singh</h4>
                            <p class="text-[#969696] text-xs">Google Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <div class="ud-single-testimonial
                                            p-8
                                            bg-white
                                            mb-12
                                            shadow-testimonial
                                            wow
                                            fadeInUp" data-wow-delay=".15s
                                          " style="visibility: visible; animation-delay: 0.15s;">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            “Best event management in town manage every small thing in best way .Happy with the
                            services
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                                                ud-testimonial-image
                                                w-[50px]
                                                h-[50px]
                                                rounded-full
                                                
                                                mr-5
                                              ">
                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjWrmfQPXdDb6ICw8ZIaSPKQLLlkYNypiFoi20QbBITZWFugo4I=w45-h45-p-rp-mo-br100"
                                alt="author">
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Swagat Kanjilal</h4>
                            <p class="text-[#969696] text-xs">Google Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <div class="ud-single-testimonial
                                        p-8
                                        bg-white
                                        mb-12
                                        shadow-testimonial
                                        wow
                                        fadeInUp" data-wow-delay=".1s
                                      " style="visibility: visible; animation-delay: 0.1s;">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            Amrit Event Creation made our corporate event a night to remember. The attention to
                            detail and seamless execution
                            were outstanding. Our guests were thrilled, and we couldn't be happier. Highly
                            recommend!
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                                            ud-testimonial-image
                                            w-[50px]
                                            h-[50px]
                                            rounded-full
                                            
                                            mr-5
                                          ">
                            <img src="https://blazync.com/img/team/aman.jpeg" alt="author">
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Aman Shashwant</h4>
                            <p class="text-[#969696] text-xs">Google Reviews</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <div class="ud-single-testimonial
                                        p-8
                                        bg-white
                                        mb-12
                                        shadow-testimonial
                                        wow
                                        fadeInUp" data-wow-delay=".2s
                                      " style="visibility: visible; animation-delay: 0.2s;">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            Our product launch was a huge success thanks to Amrit Event Creation. Their
                            creativity and precision made the
                            event unforgettable. The entire process was smooth and stress-free. Highly
                            recommended!
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                                            ud-testimonial-image
                                            w-[50px]
                                            h-[50px]
                                            rounded-full
                                            
                                            mr-5
                                          ">
                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjUpQvq2697vxoS4SUkiWuWZTJG4-FvGCi-E-rgCngjOhvr2Ribg=w45-h45-p-rp-mo-br100"
                                alt="author">
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Bijay singh</h4>
                            <p class="text-[#969696] text-xs">Google Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <div class="ud-single-testimonial
                                                            p-8
                                                            bg-white
                                                            mb-12
                                                            shadow-testimonial
                                                            wow
                                                            fadeInUp" data-wow-delay=".15s
                                                          " style="visibility: visible; animation-delay: 0.15s;">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                <path
                                    d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            Thanks to Amrit Event Creation, our wedding was magical. Everything was beautifully
                            organized, and the team was
                            incredibly supportive throughout. We couldn't have asked for more. Thank you!
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                                                                ud-testimonial-image
                                                                w-[50px]
                                                                h-[50px]
                                                                rounded-full
                                                                
                                                                mr-5
                                                              ">
                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjUrO0cwL58hCwAYp7NUDHWi9qg4pRXuLFK73NIu5tEQuKtqSVk=w45-h45-p-rp-mo-br100"
                                alt="author">
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Minakshi Agrawal</h4>
                            <p class="text-[#969696] text-xs">Google Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>