<%- include('includes/header.ejs') %>

    <!-- Main Content of the services page -->
    <section class=" relative z-0 bg-gray-50" style="z-index: -11111111;">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">
            <h1
                class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl  text-gray-900 mb-5 md:text-5xl md:leading-normal">
                Welcome to Amrit Event Creation,<br>
            </h1><span class="text-indigo-600 text-2xl">Your Premier Event Management
                Partner</span>


        </div>
    </section>
    <hr class="py-5">
    <section class="relative">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative ">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
                <div class="img-box" data-aos="fade-left">
                    <img src="/img/amrit team.jpg" alt="About Us tailwind page" class="max-lg:mx-auto rounded-lg">
                </div>
                <div class="lg:pl-[100px] flex items-center">
                    <div class="data w-full" data-aos="fade-right">
                        <h2
                            class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center relative">
                            About
                            Us </h2>
                        <p class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto">
                            We are a growth oriented Professional Event Management Company based in Jharkhand with all
                            the innovative concepts,
                            positive approach, work ethics and integrity. We are known for creating ideas and producing
                            subjective themes as per the
                            requirements, allocated budget & assigned time, right from the meticulous planning,
                            visualizing, conceptualizing and
                            production. Finally turning even the smallest event into a huge success. Our job profile
                            includes theme Wedding and
                            Birthday, Corporate Events and Brand Promotional initiatives.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-14 lg:py-24 relative">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative ">
            <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-9 ">

                <div class="lg:pr-24 flex items-center">
                    <div class="data w-full">
                        <img src="img/amrit main.png" data-aos="fade-left" alt="About Us Amrit Event Creation page"
                            class="block lg:hidden mb-9 mx-auto">
                        <h2 class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center"> Our
                            Story</h2>
                        <p data-aos="fade-right"
                            class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto">
                            At Amrit Event Creation, we are more than event planners; we are creators of unforgettable
                            experiences. Founded in
                            2016, our journey began with a passion for transforming ideas into reality and turning
                            ordinary events into
                            extraordinary celebrations. Over the years, we have evolved into a leading event management
                            company in Jharkhand,
                            renowned for our innovative concepts, positive approach, and unwavering commitment to
                            excellence.
                        </p>
                    </div>
                </div>
                <div class="img-box ">
                    <img src="img/amrit main.png" alt="About Us Amrit Event Creation" data-aos="fade-left"
                        class="hidden lg:block rounded-lg">
                </div>
            </div>
        </div>
    </section>
    <hr class="py-10">
    <section class="py-20 bg-white" data-aos="fade-up">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h2 class="font-manrope text-4xl text-center text-gray-900 font-bold mb-14">Our Vision and Mission</h2>
            <div class="flex flex-col gap-5 xl:gap-8 lg:flex-row lg:justify-between">
                <div
                    class="w-full max-lg:max-w-2xl mx-auto lg:mx-0 lg:w-1/3 bg-white p-6 rounded-2xl shadow-md shadow-gray-100">
                    <div class="flex flex-col gap-5">

                        <div class="flex-1">
                            <h4 class="text-2xl text-gray-900 font-semibold mb-2">Our Vision</h4>
                            <p class="text-lg text-gray-500 leading-5">To create and deliver experiences that engage,
                                entertain, educate and delight like nothing else.We strive to exceed client expectations
                                by providing personalized service, creative solution.
                                satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="w-full max-lg:max-w-2xl mx-auto lg:mx-0 lg:w-1/3 bg-white p-6 rounded-2xl shadow-md shadow-gray-100">
                    <div class="flex gap-5">

                        <div class="flex-1">
                            <h4 class="text-2xl text-gray-900 font-semibold mb-2">Our Mission</h4>
                            <p class="text-lg text-gray-500 leading-5">We help our clients to reach their goals either
                                Business goals or personal goals through our services in communication,
                                education, measurement, rewards and events to inspire their employees, channel partners
                                and customers.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="w-full max-lg:max-w-2xl mx-auto lg:mx-0 lg:w-1/3 bg-white p-6 rounded-2xl shadow-md shadow-gray-100">
                    <div class="flex gap-5">
                        <div class="flex-1">
                            <h4 class="text-2xl text-gray-900 font-semibold mb-2">Our Approach</h4>
                            <p class="text-lg text-gray-500 leading-5">We believe in building strong relationships with
                                our clients and understanding their unique preferences to deliver
                                tailor-made solutions.Integrity is the cornerstone of our business. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- What We Do -->
    <section class=" bg-gray-50">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
            <div class="mb-16 rounded-full">
                <h2 class="text-4xl font-manrope font-bold text-gray-900 text-center">What We Do!</h2>
            </div>

            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="relative mb-20">
                            <!--Slider Wrapper-->
                            <div class="max-w-max mx-auto lg:max-w-4xl">
                                <p class="text-lg text-gray-500 leading-8 mb-8 text-center">
                                    Corporate Events: From seminars and conferences to product launches and trade shows,
                                    we orchestrate professional
                                    gatherings that elevate brands and foster connections.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="relative mb-20">
                            <!--Slider Wrapper-->
                            <div class="max-w-max mx-auto lg:max-w-4xl">
                                <p class="text-lg text-gray-500 leading-8 mb-8 text-center">
                                    Wedding Planning: We create magical weddings that reflect the unique love stories of
                                    our couples, ensuring every detail
                                    is perfect and every moment is cherished.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="relative mb-20">
                            <!--Slider Wrapper-->
                            <div class="max-w-max mx-auto lg:max-w-4xl">
                                <p class="text-lg text-gray-500 leading-8 mb-8 text-center">
                                    Party Events: Whether you're celebrating a milestone birthday, an anniversary, a
                                    holiday gathering, or any special occasion, we are
                                    dedicated to making every event a resounding success.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- <img src="https://pagedone.io/asset/uploads/1704349534.png" alt="Emily image"
                            class="mx-auto scale-90 transition-all duration-300 swiper-slide:w-16 border rounded-full swiper-slide:border-indigo-600" /> -->
                    </div>
                    <div class="swiper-slide">
                        <!-- <img src="https://pagedone.io/asset/uploads/1704349572.png" alt="Ethan image"
                            class="mx-auto scale-90 transition-all duration-300 swiper-slide:w-16 border rounded-full swiper-slide:border-indigo-600" /> -->
                    </div>
                    <div class="swiper-slide">
                        <!-- <img src="https://pagedone.io/asset/uploads/1704349514.png" alt="Olivia image"
                            class="mx-auto scale-90 transition-all duration-300 swiper-slide:w-16 border rounded-full swiper-slide:border-indigo-600" /> -->
                    </div>

                </div>

            </div>



        </div>
    </section>

    <hr class="my-10">
    <!-- Testinomial -->
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="ud-single-testimonial
                            p-8
                            bg-white
                            mb-12
                            shadow-testimonial
                            wow
                            fadeInUp" data-wow-delay=".1s
                          " style="visibility: visible; animation-delay: 0.1s;">
                <div class="ud-testimonial-ratings flex items-center mb-3">
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                </div>
                <div class="ud-testimonial-content mb-6">
                    <p class="text-base tracking-wide text-body-color">
                        “Very efficient personnel and best event company in Ranchi.innovative ideas and
                        dedicated services make them different
                        from others.
                        Best wishes and good luck..!!
                    </p>
                </div>
                <div class="ud-testimonial-info flex items-center">
                    <div class="
                                ud-testimonial-image
                                w-[50px]
                                h-[50px]
                                rounded-full
                                
                                mr-5
                              ">
                        <img src="https://lh3.googleusercontent.com/a-/ALV-UjXXEQznlY4r_KYUFgyG0TWio7FJqbabp5UsBvpRh62ituCDu_YsVg=w45-h45-p-rp-mo-br100"
                            alt="author">
                    </div>
                    <div class="ud-testimonial-meta">
                        <h4 class="text-sm font-semibold">Rajeev Kumar Gupta</h4>
                        <p class="text-[#969696] text-xs">Google Reviews</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="ud-single-testimonial
                            p-8
                            bg-white
                            mb-12
                            shadow-testimonial
                            wow
                            fadeInUp" data-wow-delay=".2s
                          " style="visibility: visible; animation-delay: 0.2s;">
                <div class="ud-testimonial-ratings flex items-center mb-3">
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                </div>
                <div class="ud-testimonial-content mb-6">
                    <p class="text-base tracking-wide text-body-color">
                        “Exilent service and Grat Management.
                    </p>
                </div>
                <div class="ud-testimonial-info flex items-center">
                    <div class="
                                ud-testimonial-image
                                w-[50px]
                                h-[50px]
                                rounded-full
                                
                                mr-5
                              ">
                        <img src="https://lh3.googleusercontent.com/a-/ALV-UjWrmfQPXdDb6ICw8ZIaSPKQLLlkYNypiFoi20QbBITZWFugo4I=w45-h45-p-rp-mo-br100"
                            alt="author">
                    </div>
                    <div class="ud-testimonial-meta">
                        <h4 class="text-sm font-semibold">Bijay Singh</h4>
                        <p class="text-[#969696] text-xs">Google Reviews</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="ud-single-testimonial
                                                p-8
                                                bg-white
                                                mb-12
                                                shadow-testimonial
                                                wow
                                                fadeInUp" data-wow-delay=".15s
                                              " style="visibility: visible; animation-delay: 0.15s;">
                <div class="ud-testimonial-ratings flex items-center mb-3">
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                    <span class="text-[#fbb040] mr-1">
                        <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                            <path
                                d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                            </path>
                        </svg>
                    </span>
                </div>
                <div class="ud-testimonial-content mb-6">
                    <p class="text-base tracking-wide text-body-color">
                        “Best event management in town manage every small thing in best way .Happy with the
                        services
                    </p>
                </div>
                <div class="ud-testimonial-info flex items-center">
                    <div class="
                                                    ud-testimonial-image
                                                    w-[50px]
                                                    h-[50px]
                                                    rounded-full
                                                    
                                                    mr-5
                                                  ">
                        <img src="https://lh3.googleusercontent.com/a-/ALV-UjXbeK51cMHRPZj_9Ep2HAuG1Tu1LmloDb6KmiU5UApIJonozzNK=w45-h45-p-rp-mo-br100   "
                            alt="author">
                    </div>
                    <div class="ud-testimonial-meta">
                        <h4 class="text-sm font-semibold">Swagat Kanjilal</h4>
                        <p class="text-[#969696] text-xs">Google Reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script defer async src='https://cdn.trustindex.io/loader.js?92fe8a929fe5592f563696d6ba6'></script> -->



    <%- include('includes/footer.ejs') %>