<%- include('includes/header.ejs') %>

    <!-- Main Content of the services page -->
    <div>

        <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
            <div class="container">
                <div class="flex flex-wrap justify-center -mx-4">
                    <div class="w-full px-4">
                        <div class="
                            relative
                            rounded
                            overflow-hidden
                            z-20
                            mb-[60px]
                            h-[300px]
                            md:h-[400px]
                            lg:h-[500px]
                            wow
                            fadeInUp
                          " data-wow-delay=".1s
                          ">
                            <img src="https://www.cvent.com/sites/default/files/styles/column_content_width/public/image/2020-08/Cvent-Corporate-event.jpg?itok=vIU4Hl5c"
                                alt="image" class="w-full h-full object-cover object-center" />
                            <div class="
                              absolute
                              w-full
                              h-full
                              top-0
                              left-0
                              flex
                              items-end
                              z-10
                              bg-gradient-to-t
                              from-dark-700
                              to-transparent
                            ">
                                <div class="flex flex-wrap items-center p-4 sm:p-8 pb-4">
                                    <div class="flex items-center mb-4 mr-5 md:mr-10">
                                        <div class="w-10 h-10 rounded-full overflow-hidden mr-4">
                                            <img src="https://amritevents.blr1.digitaloceanspaces.com/amrit%20events%20logo.jpg"
                                                alt="image" class="w-full" />
                                        </div>
                                        <p class="text-base text-white font-medium">
                                            Event at
                                            <a href="javascript:void(0)" class="text-white hover:opacity-70">
                                                Cvent
                                            </a>
                                        </p>
                                    </div>
                                    <div class="flex items-center mb-4">
                                        <p class="
                                    flex
                                    items-center
                                    text-sm
                                    font-medium
                                    text-white
                                    mr-5
                                    md:mr-8
                                  ">
                                            <span class="mr-3">
                                                <Calendar />
                                            </span>
                                            26 Feb 2023
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-4">
                            <div class="w-full lg:w-8/12 px-4">
                                <div>
                                    <h2 class="
                                  font-bold
                                  text-dark text-[26px]
                                  sm:text-3xl
                                  md:text-4xl
                                  leading-snug
                                  sm:leading-snug
                                  md:leading-snug
                                  mb-6
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s
                                ">
                                        We plan on merging the smiles with the joys in the eyes.
                                        Only than will we be able to achieve our mission.
                                    </h2>
                                    <p class="
                                  text-base text-body-color
                                  leading-relaxed
                                  mb-8
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of
                                        Event Management. A growth oriented Professional Event
                                        Management Company with all the innovative concepts,
                                        positive approach, work ethics and integrity.
                                    </p>
                                    <p class="
                                  text-base text-body-color
                                  leading-relaxed
                                  mb-10
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        We are known for creating ideas and producing subjective
                                        themes as per the requirements, allocated budget &
                                        assigned time, right from the meticulous planning,
                                        visualizing, conceptualizing and production. Finally
                                        turning even the smallest event into a huge success. Our
                                        job profile includes theme Wedding and Birthday, Corporate
                                        Events and Brand Promotional.
                                    </p>
                                    <h3 class="
                                  font-bold
                                  mb-8
                                  text-dark text-2xl
                                  sm:text-[26px]
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        AMRIT EVENT CREATION
                                    </h3>
                                    <p class="
                                  text-base text-body-color
                                  leading-relaxed
                                  mb-10
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of
                                        Event Management. A growth oriented Professional Event
                                        Management Company with all the innovative concepts,
                                        positive approach, work ethics and integrity. We are known
                                        for creating ideas and producing subjective themes as per
                                        the requirements
                                    </p>
                                    <div class="
                                  bg-primary bg-opacity-5
                                  rounded
                                  overflow-hidden
                                  relative
                                  py-8
                                  px-6
                                  sm:p-10
                                  md:px-[60px]
                                  text-center
                                  z-10
                                  mb-10
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s
                                ">
                                        <div class="max-w-[530px] mx-auto">
                                            <span class="flex justify-center mb-6 text-primary">
                                                <svg width="44" height="26" viewBox="0 0 44 26" class="fill-current">
                                                    <path
                                                        d="M10.1101 0.00124908C5.46698 -0.0701833 1.25247 2.92998 0.252417 7.00162C-0.319041 9.50175 0.180985 12.0019 1.68106 14.002C3.25258 16.145 5.68128 17.5022 8.39571 17.8593L10.8958 24.0025C11.1816 24.6454 11.8245 25.074 12.5388 25.074C13.2531 25.074 13.896 24.6454 14.1817 24.0025C14.6103 22.931 15.1103 21.7881 15.6104 20.7166C16.8247 18.0022 18.0391 15.2163 18.9677 12.359C19.9677 9.35889 19.5392 6.14443 17.8248 3.71573C16.1104 1.35846 13.396 0.0726814 10.1101 0.00124908ZM16.6104 11.6447C15.6818 14.3592 14.4675 17.145 13.3245 19.788C13.1102 20.3595 12.8245 20.8595 12.6102 21.431L10.1815 15.5735L9.39576 15.5021C7.10992 15.3592 4.96695 14.2163 3.7526 12.5733C2.68112 11.1447 2.32396 9.35889 2.75255 7.64451C3.46687 4.71579 6.53846 2.57281 10.0386 2.57281H10.1101C12.5388 2.57281 14.5389 3.57287 15.8247 5.28724C17.039 7.00162 17.3247 9.43032 16.6104 11.6447Z" />
                                                    <path
                                                        d="M42.3267 3.78726C40.6124 1.35856 37.8979 0.00134277 34.612 0.00134277C34.5406 0.00134277 34.5406 0.00134277 34.4692 0.00134277C29.8975 0.00134277 25.7544 3.0015 24.7544 7.00171C24.1829 9.50185 24.6829 12.002 26.183 14.0735C27.7545 16.2165 30.1832 17.5737 32.8977 17.9309L35.3978 24.074C35.6835 24.7169 36.3264 25.1455 37.0407 25.1455C37.7551 25.1455 38.398 24.7169 38.6837 24.074C39.1123 23.0026 39.6123 21.8596 40.1123 20.7882C41.3267 18.0737 42.541 15.2879 43.4696 12.4306C44.4697 9.50184 44.0411 6.21596 42.3267 3.78726ZM41.1124 11.6448C40.1838 14.3592 38.9694 17.1451 37.8265 19.7881C37.6122 20.3596 37.3265 20.8596 37.1122 21.431L34.6835 15.5736L33.8977 15.5022C31.6119 15.3593 29.4689 14.2164 28.2546 12.5734C27.1831 11.1448 26.8259 9.35898 27.2545 7.57317C27.9688 4.64445 31.0404 2.50147 34.5406 2.50147H34.612C37.0407 2.50147 39.0408 3.50153 40.3266 5.2159C41.541 7.00171 41.8267 9.43041 41.1124 11.6448Z" />
                                                </svg>
                                            </span>
                                            <p class="
                                      font-medium
                                      text-dark text-base
                                      italic
                                      leading-[26px]
                                      mb-4
                                    ">
                                                Be a better learner. Fight So hard, play so hard so
                                                that the result stops mattering.
                                            </p>
                                            <span class="text-sm text-body-color italic">
                                                “Sunil”
                                            </span>
                                        </div>
                                        <div>
                                            <span class="absolute left-0 top-0">
                                                <Quote />
                                            </span>
                                            <span class="absolute bottom-0 right-0">
                                                <Quote />
                                            </span>
                                        </div>
                                    </div>

                                    <h3 class="
                                  font-bold
                                  mb-8
                                  text-dark text-2xl
                                  sm:text-[26px]
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        What is it with your ideas?
                                    </h3>

                                    <p class="
                                  text-base text-body-color
                                  leading-relaxed
                                  mb-8
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of
                                        Event Management. A growth oriented Professional Event
                                        Management Company with all the innovative concepts,
                                        positive approach, work ethics and integrity. We are known
                                        for creating ideas and producing subjective themes as per
                                        the requirements
                                    </p>
                                    <p class="
                                  text-base text-body-color
                                  leading-relaxed
                                  mb-11
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of
                                        Event Management. A growth oriented Professional Event
                                        Management Company with all the innovative concepts,
                                        positive approach, work ethics and integrity. We are known
                                        for creating ideas and producing subjective themes as per
                                        the requirements
                                    </p>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                                <div>
                                    <div class="
                                  mb-12
                                  bg-primary
                                  rounded
                                  relative
                                  overflow-hidden
                                  text-center
                                  py-[60px]
                                  px-11
                                  lg:px-8
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s
                                ">
                                        <h3 class="font-semibold text-white mb-2 text-2xl">
                                            Downlaod our Presentations
                                        </h3>
                                        <Button variant="" color="success">
                                            Download Now
                                        </Button>
                                    </div>

                                    <div class="flex flex-wrap -mx-4 mb-8">
                                        <div class="w-full px-4">
                                            <h2 class="
                                      font-semibold
                                      text-dark text-2xl
                                      sm:text-[28px]
                                      pb-5
                                      relative
                                      wow
                                      fadeInUp
                                    " data-wow-delay=".1s
                                    ">
                                                Popular Articles
                                            </h2>
                                            <span class="h-[2px] bg-primary w-20 mb-10 inline-block"></span>
                                        </div>

                                        <div class="w-full md:w-1/2 lg:w-full px-4">
                                            <div class="
                                      w-full
                                      flex
                                      items-center
                                      pb-5
                                      mb-5
                                      border-b border-[#F2F3F8]
                                      wow
                                      fadeInUp
                                    " data-wow-delay=".1s
                                    ">
                                                <div class="
                                        w-full
                                        max-w-[80px]
                                        h-20
                                        rounded-full
                                        overflow-hidden
                                        mr-5
                                      ">
                                                    <img src="assets/images/blog/article-author-01.png" alt="image"
                                                        class="w-full" />
                                                </div>
                                                <div class="w-full">
                                                    <h4>
                                                        <a href="javascript:void(0)" class="
                                            text-lg
                                            lg:text-base
                                            xl:text-lg
                                            leading-snug
                                            font-medium
                                            text-dark
                                            hover:text-primary
                                            mb-1
                                            inline-block
                                          ">
                                                            Create engaging online courses your student…
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 lg:w-full px-4">
                                            <div class="
                                      w-full
                                      flex
                                      items-center
                                      pb-5
                                      mb-5
                                      border-b border-[#F2F3F8]
                                      wow
                                      fadeInUp
                                    " data-wow-delay=".1s
                                    ">
                                                <div class="
                                        w-full
                                        max-w-[80px]
                                        h-20
                                        rounded-full
                                        overflow-hidden
                                        mr-5
                                      ">
                                                    <img src="assets/images/blog/article-author-02.png" alt="image"
                                                        class="w-full" />
                                                </div>
                                                <div class="w-full">
                                                    <h4>
                                                        <a href="javascript:void(0)" class="
                                            text-lg
                                            lg:text-base
                                            xl:text-lg
                                            leading-snug
                                            font-medium
                                            text-dark
                                            hover:text-primary
                                            mb-1
                                            inline-block
                                          ">
                                                            The ultimate formula for launching online course
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 lg:w-full px-4">
                                            <div class="
                                      w-full
                                      flex
                                      items-center
                                      pb-5
                                      mb-5
                                      border-b border-[#F2F3F8]
                                      wow
                                      fadeInUp
                                    " data-wow-delay=".1s
                                    ">
                                                <div class="
                                        w-full
                                        max-w-[80px]
                                        h-20
                                        rounded-full
                                        overflow-hidden
                                        mr-5
                                      ">
                                                    <img src="assets/images/blog/article-author-03.png" alt="image"
                                                        class="w-full" />
                                                </div>
                                                <div class="w-full">
                                                    <h4>
                                                        <a href="javascript:void(0)" class="
                                            text-lg
                                            lg:text-base
                                            xl:text-lg
                                            leading-snug
                                            font-medium
                                            text-dark
                                            hover:text-primary
                                            mb-1
                                            inline-block
                                          ">
                                                            50 Best web design tips & tricks that will help
                                                            you
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 lg:w-full px-4">
                                            <div class="
                                      w-full
                                      flex
                                      items-center
                                      pb-5
                                      mb-5
                                      border-0 border-[#F2F3F8]
                                      md:border-b
                                      lg:border-0
                                      wow
                                      fadeInUp
                                    " data-wow-delay=".1s
                                    ">
                                                <div class="
                                        w-full
                                        max-w-[80px]
                                        h-20
                                        rounded-full
                                        overflow-hidden
                                        mr-5
                                      ">
                                                    <img src="assets/images/blog/article-author-04.png" alt="image"
                                                        class="w-full" />
                                                </div>
                                                <div class="w-full">
                                                    <h4>
                                                        <a href="javascript:void(0)" class="
                                            text-lg
                                            lg:text-base
                                            xl:text-lg
                                            leading-snug
                                            font-medium
                                            text-dark
                                            hover:text-primary
                                            mb-1
                                            inline-block
                                          ">
                                                            The 8 best landing page builders, reviewed
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rounded overflow-hidden mb-12 wow fadeInUp" data-wow-delay=".1s">
                                        <img src="assets/images/blog/bannder-ad.png" alt="image" class="w-full" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- ====== Blog Details Section End -->
        <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
            <div class="px-4 mx-auto max-w-screen-xl">
                <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Related articles</h2>
                <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
                    <article class="max-w-xs">
                        <a href="#">
                            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png"
                                class="mb-5 rounded-lg" alt="Image 1">
                        </a>
                        <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                            <a href="#">Our first office</a>
                        </h2>
                        <p class="mb-4 text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many
                            changes! After months of preparation.</p>
                        <a href="#"
                            class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                            Read in 2 minutes
                        </a>
                    </article>
                    <article class="max-w-xs">
                        <a href="#">
                            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png"
                                class="mb-5 rounded-lg" alt="Image 2">
                        </a>
                        <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                            <a href="#">Enterprise design tips</a>
                        </h2>
                        <p class="mb-4  text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone
                            many changes! After months of preparation.</p>
                        <a href="#"
                            class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                            Read in 12 minutes
                        </a>
                    </article>
                    <article class="max-w-xs">
                        <a href="#">
                            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png"
                                class="mb-5 rounded-lg" alt="Image 3">
                        </a>
                        <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                            <a href="#">We partnered with Google</a>
                        </h2>
                        <p class="mb-4  text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone
                            many changes! After months of preparation.</p>
                        <a href="#"
                            class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                            Read in 8 minutes
                        </a>
                    </article>
                    <article class="max-w-xs">
                        <a href="#">
                            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png"
                                class="mb-5 rounded-lg" alt="Image 4">
                        </a>
                        <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                            <a href="#">Our first project with React</a>
                        </h2>
                        <p class="mb-4  text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone
                            many changes! After months of preparation.</p>
                        <a href="#"
                            class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                            Read in 4 minutes
                        </a>
                    </article>
                </div>
            </div>
        </aside>

        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-md sm:text-center">
                    <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white">
                        Sign up for our newsletter</h2>
                    <p class="mx-auto mb-8 max-w-2xl  text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400">Stay up to
                        date with the roadmap progress, announcements and exclusive discounts feel free to sign up with
                        your email.</p>
                    <form action="#">
                        <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                            <div class="relative w-full">
                                <label for="email"
                                    class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email
                                    address</label>
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                        <path
                                            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                                        <path
                                            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                                    </svg>
                                </div>
                                <input
                                    class="block p-3 pl-9 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder="Enter your email" type="email" id="email" required="">
                            </div>
                            <div>
                                <button type="submit"
                                    class="py-3 px-5 w-full text-sm font-medium text-center text-white rounded-lg border cursor-pointer bg-primary-700 border-primary-600 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Subscribe</button>
                            </div>
                        </div>
                        <div
                            class="mx-auto max-w-screen-sm text-sm text-left text-gray-500 newsletter-form-footer dark:text-gray-300">
                            We care about the protection of your data. <a href="#"
                                class="font-medium text-primary-600 dark:text-primary-500 hover:underline">Read our
                                Privacy Policy</a>.</div>
                    </form>
                </div>
            </div>
        </section>


    </div>

    <%- include('includes/footer.ejs') %>