<%- include('includes/header.ejs') %>
  <style>
    #imageModal {
      display: none;
    }

    #imageModal.active {
      display: flex;
    }
  </style>
  <!-- Main Content of the Gallary page -->
  <section class="style=" z-index: -11111111;"">
    <div class="container mx-auto  py-8">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Image Gallery</h2>

      <!-- Image Gallery -->
      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <!-- Image 1 -->
        <% gallery.forEach(data=> { %>
          <% if(data.filetype=='image' ) { %>
            <div class="bg-white justify-center rounded-lg overflow-hidden shadow-md w-auto">
              <img data-aos="flip-up" src="../uploads/<%= data.imageUrl %>" alt="Image"
                class="gallery-image w-full h-[300px] rounded-lg" style="100%" loading="lazy">

            </div>
            <% } %>

              <% }); %>


                <!-- Image 4 -->
      </div>

      <h2 class="text-2xl font-bold text-gray-800 mt-8 mb-4">Video Gallery</h2>

      <!-- Video Gallery -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <% gallery.forEach(data=> { %>
          <% if(data.filetype=='video' ) { %>

            <iframe src="https://www.youtube.com/embed/<%= data.imageUrl %>" data-aos="flip-down" frameborder="0"
              allowfullscreen class="w-full h-[300px] rounded-lg" loading="lazy"></iframe>

            <% } %>
              <% }); %>
      </div>
    </div>
    <!-- <button>View More</button> -->
  </section>

  <!-- Modal Structure -->
  <div id="imageModal"
    class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center z-50 hidden">
    <div class="relative bg-white rounded-lg shadow-lg overflow-hidden w-11/12 max-w-3xl">
      <span class="absolute top-2 right-2 text-2xl cursor-pointer text-gray-800" id="closeModal">&times;</span>
      <img id="modalImage" class="w-full h-auto">
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const modal = document.getElementById('imageModal');
      const modalImg = document.getElementById('modalImage');
      const closeModal = document.getElementById('closeModal');
      const galleryImages = document.querySelectorAll('.gallery-image');

      galleryImages.forEach(img => {
        img.addEventListener('click', function () {
          modal.classList.add('active');
          modalImg.src = this.src;
        });
      });

      closeModal.addEventListener('click', function () {
        modal.classList.remove('active');
      });

      modal.addEventListener('click', function (e) {
        if (e.target === modal) {
          modal.classList.remove('active');
        }
      });
    });
  </script>


  <%- include('includes/footer.ejs') %>