<%- include('includes/header.ejs') %>

<!-- Main Content of the services page -->
<div class="container">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../img/hero.png" alt="" />
      </a>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../img/hero.png" alt="" />
      </a>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../img/hero.png" alt="" />
      </a>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../img/hero.png" alt="" />
      </a>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../img/hero.png" alt="" />
      </a>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../img/hero.png" alt="" />
      </a>
    </div>
  </div>
</div>


<!-- Repeat the above code three more times for a total of four cards -->
</div>

</div>

<%- include('includes/footer.ejs') %>