<!-- MAIN FOOTER -->
<footer id="nasa-footer" class="footer-wrapper nasa-clear-both text-[20px] lg:text-[24px]">

    <div data-content_placement="top"
        class="section-element vc_custom_1593085866926 padding-top-80 padding-bottom-50 footer-light-2 hidden-tag">
        <div class="row ">
            <div class="large-6 nasa-col columns">
                <div class="row">
                    <div class="large-6 nasa-col columns">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left   nasa-logo-img">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
                                    </figure>
                                </div>
                                <ul class="contact-information">
                                    <li class="media">
                                        <div class="contact-text">Calista Wise 7292 Dictum Av.
                                            Antonio, Italy.</div>
                                    </li>

                                    <li class="media">
                                        <div class="contact-text">(+01)-800-3456-88</div>
                                    </li>

                                    <li class="media">
                                        <div class="contact-text"><a href="mailto:nasathemes@gmail.com"
                                                title="Email">nasathemes@gmail.com</a></div>
                                    </li>

                                    <li class="media">
                                        <div class="contact-text"><a href="http://elessi.nasatheme.com"
                                                title="elessi.nasatheme.com">elessi.nasatheme.com</a></div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="large-6 nasa-col columns">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="social-icons nasa-follow">
                                    <div class="follow-icon"><a href="https://www.facebook.com/eventcracker"
                                            target="_blank" class="icon icon_facebook" title="Follow us on Facebook"
                                            rel="nofollow"><i class="fa fa-facebook"></i></a><a
                                            href="mailto:mailto:info.eventcracker@gmail.com" target="_blank"
                                            class="icon icon_email" title="Send us an email" rel="nofollow"><i
                                                class="fa fa-envelope-o"></i></a><a
                                            href="https://www.instagram.com/eventcrackerpdx/" target="_blank"
                                            class="icon icon_instagram" title="Follow us on Instagram" rel="nofollow"><i
                                                class="fa fa-instagram"></i></a></div>
                                </div>
                                <div class="nasa-nav-sc-menu">
                                    <div class="nasa-nav-sc-menu-container">
                                        <ul class="nasa-menu-wrapper">
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_even">
                                                <a title="Delivery Information" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Delivery Information</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_odd">
                                                <a title="Privacy Policy" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Privacy Policy</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_even">
                                                <a title="Terms &#038; Condition" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Terms &#038; Condition</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_odd">
                                                <a title="Search Terms" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Search Terms</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_even">
                                                <a title="Order &#038; Return" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Order &#038; Return</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-6 nasa-col columns">
                <div class="row footer-contact">
                    <div class="mobile-margin-bottom-20 large-3 nasa-col columns">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                        <h4>Newsletter</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-9 nasa-col columns">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpcf7 no-js" id="wpcf7-f210-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response">
                                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                                        <ul></ul>
                                    </div>
                                    <form action="/#wpcf7-f210-o1" method="post" class="wpcf7-form init"
                                        aria-label="Contact form" novalidate="novalidate" data-status="init">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="210" />
                                            <input type="hidden" name="_wpcf7_version" value="5.9.4" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f210-o1" />
                                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                                            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                            <input type="hidden" name="_wpcf7_recaptcha_response" value="" />
                                        </div>
                                        <p><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40"
                                                    class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email nasa-footer-contact-mail"
                                                    aria-required="true" aria-invalid="false"
                                                    placeholder="Enter your email here" value="" type="email"
                                                    name="your-email" /></span><input
                                                class="wpcf7-form-control wpcf7-submit has-spinner btn-submit-newsletters button"
                                                type="submit" value="SUBSCRIBE" />
                                        </p>
                                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-25">
                    <div class="large-5 nasa-col columns">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="nasa-nav-sc-menu margin-top-5">
                                    <div class="nasa-nav-sc-menu-container">
                                        <ul class="nasa-menu-wrapper">
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_even">
                                                <a title="Customer Service" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Customer Service</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_odd">
                                                <a title="Privacy Policy" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Privacy Policy</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_even">
                                                <a title="Terms &#038; Condition" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Terms &#038; Condition</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_odd">
                                                <a title="Best Seller" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Best Seller</span></a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom default-menu root-item nasa_even">
                                                <a title="Manufactures" href="#" class="nasa-title-menu"><i
                                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                                        class="nasa-text-menu">Manufactures</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 nasa-col columns">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <ul class="nasa-opening-time">
                                    <li><span class="nasa-day-open">Monday - Friday</span><span
                                            class="nasa-time-open">08:00 - 20:00</span></li>
                                    <li><span class="nasa-day-open">Saturday</span><span class="nasa-time-open">09:00 -
                                            21:00</span></li>
                                    <li><span class="nasa-day-open">Sunday</span><span class="nasa-time-open">13:00 -
                                            22:00</span></li>
                                </ul>
                                <div class="wpb_single_image wpb_content_element vc_align_right">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-content_placement="top" class="section-element vc_custom_1645122397061 footer-light-2">
        <div class="row">
            <div class="nasa-large-5-col-1 nasa-col columns">
                <div class="vc_empty_space" style="height: 1px"><span class="vc_empty_space_inner"></span></div>
            </div>
            <div class="nasa-large-5-col-2 nasa-col columns">
                <h2 style="text-align: left;font-family:Abril Fatface;font-weight:400;font-style:normal"
                    class="vc_custom_heading get-our">Get In Touch</h2>
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <p>Portland, Oregon<br />
                            Office 2 - Silom,Bangkok,Thailand<br />
                            Phone: <a href="tel:+1 971-295-3811">+1 971-295-3811</a><br />
                            Mail: <a href="mailto:info.eventcracker@gmail.com">Info.Eventcracker@Gmail.Com</a></p>

                    </div>
                </div>
            </div>
            <div class="nasa-large-5-col-2 ourlocation nasa-col columns">
                <h2 style="text-align: left;font-family:Abril Fatface;font-weight:400;font-style:normal"
                    class="vc_custom_heading">Our Locations</h2>
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <p>Portland<br />
                            Northern California<br />
                            Thailand</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-content_placement="top" class="section-element vc_custom_1645121951567 nasa-footer-bottom">
        <div class="row">
            <div class="large-6 nasa-footer-bottom-left nasa-col columns">
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <p style="font-size: 16px;">Copyright © 2022. Event Cracker. All Rights Reserved.</p>

                    </div>
                </div>
            </div>
            <div class="large-6 nasa-footer-bottom-right nasa-col columns">
                <div class="nasa-nav-sc-menu">
                    <div class="nasa-nav-sc-menu-container">
                        <ul class="nasa-menu-wrapper">
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1705 current_page_item default-menu root-item nasa_even">
                                <a title="Home" href="https://eventcracker.com/" class="nasa-title-menu"><i
                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                        class="nasa-text-menu">Home</span></a>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_odd">
                                <a title="About" href="https://eventcracker.com/what-is-a-wedding-planner/"
                                    class="nasa-title-menu"><i class="pe-7s-angle-down nasa-open-child"></i><span
                                        class="nasa-text-menu">About</span></a>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_even">
                                <a title="Services" href="https://eventcracker.com/services/" class="nasa-title-menu"><i
                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                        class="nasa-text-menu">Services</span></a>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_odd">
                                <a title="Pricing" href="https://eventcracker.com/wedding-planner-cost/"
                                    class="nasa-title-menu"><i class="pe-7s-angle-down nasa-open-child"></i><span
                                        class="nasa-text-menu">Pricing</span></a>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_even">
                                <a title="Inspiration" href="https://eventcracker.com/wedding-inspiration-photos/"
                                    class="nasa-title-menu"><i class="pe-7s-angle-down nasa-open-child"></i><span
                                        class="nasa-text-menu">Inspiration</span></a>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page default-menu root-item nasa_odd">
                                <a title="Contact" href="https://eventcracker.com/lets-talk/" class="nasa-title-menu"><i
                                        class="pe-7s-angle-down nasa-open-child"></i><span
                                        class="nasa-text-menu">Contact</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END MAIN FOOTER -->
</div>
<!-- Start static group buttons -->
<div class="nasa-static-group-btn"><a href="javascript:void(0);" id="nasa-back-to-top"><i
            class="pe-7s-angle-up"></i></a></div><!-- End static group buttons -->
<!-- Start static content -->
<div class="static-position vendor_hidden">
    <div class="nasa-check-reponsive nasa-desktop-check"></div>
    <div class="nasa-check-reponsive nasa-taplet-check"></div>
    <div class="nasa-check-reponsive nasa-mobile-check"></div>
    <div class="nasa-check-reponsive nasa-switch-check"></div>
    <div class="black-window hidden-tag"></div>
    <div class="white-window hidden-tag"></div>
    <div class="transparent-window hidden-tag"></div>
    <div class="transparent-mobile hidden-tag"></div>
    <div class="black-window-mobile"></div>
    <div class="warpper-mobile-search hidden-tag">
        <!-- for mobile -->

        <div class="search-wrapper nasa-ajaxsearchform-container 1509341594_container">
            <form method="get" class="nasa-ajaxsearchform" action="https://eventcracker.com/">
                <div class="search-control-group control-group">
                    <label class="hidden-tag">Search here</label>
                    <input id="nasa-input-1509341594" type="text" class="search-field search-input live-search-input"
                        value="" name="s" placeholder="I&#039;m searching for..." />
                    <input type="hidden" class="search-param" name="post_type" value="product" />
                    <div class="nasa-vitual-hidden">
                        <input type="submit" name="page" value="search" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="heading-menu-mobile" class="hidden-tag">
        <i class="fa fa-bars"></i>Menu
    </div>

    <div class="nasa-compare-list-bottom">
        <div id="nasa-compare-sidebar-content" class="nasa-relative">
            <div class="nasa-loader"></div>
        </div>
        <p class="nasa-compare-mess nasa-compare-success hidden-tag"></p>
        <p class="nasa-compare-mess nasa-compare-exists hidden-tag"></p>
    </div>

    <div id="nasa-menu-sidebar-content" class="nasa-light-new">
        <a class="nasa-close-menu-mobile" href="javascript:void(0);" title="Close">
            Close </a>
        <div class="nasa-mobile-nav-wrap">
            <div id="mobile-navigation"></div>
        </div>
    </div>
    <div class="nasa-top-cat-filter-wrap-mobile nasa-light">
        <h3 class="nasa-tit-filter-cat">Categories</h3>

        <div id="nasa-mobile-cat-filter">
            <div class="nasa-loader"></div>
        </div>

        <a href="javascript:void(0);" title="Close categories filter" class="nasa-close-filter-cat"><i
                class="pe-7s-close"></i></a>
    </div>
    <!-- Enable Fixed add to cart single product --><input type="hidden" name="nasa_fixed_single_add_to_cart"
        value="1" /><!-- Fixed add to cart single product in Mobile layout --><input type="hidden"
        name="nasa_fixed_mobile_single_add_to_cart_layout" value="no" /><!-- Event After Add To Cart --><input
        type="hidden" name="nasa-event-after-add-to-cart" value="popup" /><input type="hidden"
        name="nasa_archive_grid_view" value="archive_grid_view_97ab40e8c8d53f09eecfeeeba1fd5a56" />
    <!-- Format currency -->
    <input type="hidden" name="nasa_currency_pos" value="left" />

    <!-- URL Logout -->
    <input type="hidden" name="nasa_logout_menu"
        value="https://eventcracker.com/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Feventcracker.com&amp;_wpnonce=39cdce5c02" />

    <!-- Enable countdown -->
    <input type="hidden" name="nasa-count-down-enable" value="1" />

    <!-- width toggle Add To Cart | Countdown -->
    <input type="hidden" name="nasa-toggle-width-product-content" value="180" />

    <!-- Enable WOW -->
    <input type="hidden" name="nasa-enable-wow" value="1" />

    <!-- Enable Portfolio -->
    <input type="hidden" name="nasa-enable-portfolio" value="0" />

    <!-- Enable gift effect -->
    <input type="hidden" name="nasa-enable-gift-effect" value="0" />

    <!-- Enable focus main image -->
    <input type="hidden" name="nasa-enable-focus-main-image" value="1" />

    <!-- Select option to Quick-view -->
    <input type="hidden" name="nasa-disable-quickview-ux" value="0" />

    <!-- Close Pop-up string -->
    <input type="hidden" name="nasa-close-string" value="Close (Esc)" />

    <!-- Text no results in live search products -->
    <p class="hidden-tag" id="nasa-empty-result-search">Sorry. No results match your search.</p>

    <!-- Toggle Select Options Sticky add to cart single product page -->
    <input type="hidden" name="nasa_select_options_text" value="Select Options" />

    <!-- Less Total Count items Wishlist - Compare - (9+) -->
    <input type="hidden" name="nasa_less_total_items" value="1" />

    <input type="hidden" name="nasa-shop-page-url" value="" /><input type="hidden" name="nasa-base-url"
        value="https://eventcracker.com/" /><input type="hidden" name="nasa-friendly-url" value="1" />
</div><!-- End static content -->


<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all"
    type="text/css">

<script type='text/javascript'
    src='https://eventcracker.com/wp-content/plugins/nasa-core/assets/js/min/jquery.magnific-popup.min.js'
    id='jquery-magnific-popup-js'></script>

<script type='text/javascript'
    src='https://eventcracker.com/wp-content/themes/elessi-theme/assets/js/min/jquery.cookie.min.js'
    id='jquery-cookie-js'></script>




<script type='text/javascript'
    src='https://eventcracker.com/wp-content/themes/elessi-theme/assets/js/min/jquery.stellar.min.js'
    id='jquery-stellar-js'></script>

<script type='text/javascript' src='https://eventcracker.com/wp-content/themes/elessi-theme/assets/js/min/wow.min.js'
    id='wow-js'></script>

<script type='text/javascript'
    src='https://eventcracker.com/wp-content/themes/elessi-theme/assets/js/min/functions.min.js'
    id='elessi-functions-js-js'></script>
<script type='text/javascript' src='https://eventcracker.com/wp-content/themes/elessi-theme/assets/js/min/main.min.js'
    id='elessi-js-js'></script>







</body>

</html>